body {
    max-width: 800px;
    margin: 10px auto;
    font-size: 22pt;
    color:rgb(255 255 255);
    background-color: rgb(0 0 0);
}

main {
    font-size: 16pt;
    background-color: rgb(66, 3, 3);
    border-radius: 20px;
    padding: 15px 15px 20px 20px;
    border: double 7px;
}

header {
    text-align: center;
    color: rgb(0 0 0);
    background-color: rgb(255 255 255);
    border-radius: 10px;
}

footer {
    font-size: 16pt;
    text-align: center;
}

a {
    color: rgb(7, 143, 255);
    text-decoration: none;
    display: inline-block;
    padding: 4px 4px;
    border-radius: 2px;
    font-weight: bold;
    text-transform: capitalize;
}

a:hover {
    color: rgb(0 0 0);
    background-color: rgb(255 255 255);
}

div.pageheader h1,h2,h3,h4,h5,h6 {
    text-transform: capitalize;
}